/* line 34, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 35, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 36, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/* line 37, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none;
}

/* line 48, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 50, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222222;
}

/* line 52, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* line 62, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 63, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 71, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a {
  color: #0000ee;
}

/* line 72, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a:visited {
  color: #551a8b;
}

/* line 73, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a:hover {
  color: #0066ee;
}

/* line 74, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 77, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 85, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 87, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
b, strong {
  font-weight: bold;
}

/* line 89, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 91, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 93, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 95, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 97, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 100, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 103, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 105, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
q {
  quotes: none;
}

/* line 106, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 108, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 85%;
}

/* line 111, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 112, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 113, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 121, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 122, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 123, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 134, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 138, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 146, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0;
}

/* line 154, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0;
}

/* line 155, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 158, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
label {
  cursor: pointer;
}

/* line 163, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 169, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 173, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 179, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 183, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 187, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 188, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 189, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 193, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 198, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 202, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 210, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 211, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
td {
  vertical-align: top;
}

/* line 7, ../sass/partials/_page.scss */
body, select, input, textarea {
  color: #222222;
}

/* line 39, ../sass/partials/_page.scss */
body {
  background-color: #593001;
  color: #C29325;
}

/* line 44, ../sass/partials/_page.scss */
#container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 38, ../../../../../var/lib/gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 48, ../sass/partials/_page.scss */
header {
  font-size: 3em;
  margin-bottom: 1em;
}
/* line 52, ../sass/partials/_page.scss */
header .oneline {
  font-size: 0.35em;
}

/* line 58, ../sass/partials/_page.scss */
#main .section {
  font-size: 1.5em;
  margin-bottom: .75em;
}

/* line 66, ../sass/partials/_page.scss */
a {
  color: #B5520B;
}
/* line 69, ../sass/partials/_page.scss */
a:visited {
  color: #B5520B;
}
/* line 73, ../sass/partials/_page.scss */
a:hover {
  color: #38240C;
}

/* line 78, ../sass/partials/_page.scss */
::selection {
  background-color: #6B4C13;
}

/* line 7, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
/* line 26, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.ir br {
  display: none;
}

/* line 9, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 11, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 45, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 13, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 55, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 56, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.clearfix:after {
  clear: both;
}
/* line 57, ../../../../../var/lib/gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.clearfix {
  *zoom: 1;
}
