@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

// Respond-to setup.
// These are named breakpoints. They can vary in complexity, allowing you to
// get rid of the cognitive load behind typing and remembering media queries.
//
// @see https://github.com/Snugug/respond-to/blob/master/README.md
// @see https://github.com/canarymason/breakpoint/blob/master/README.markdown
$breakpoints: 'smartphone' (320px),
              'fourhundred' (415px),
              'smartphone landscape' (480px),
              'tablet' (768px),
              'desktop' (980px),
              'smartphone only' (320px 767px),
              'smartphone landscape only' (480px 767px),
              'tablet only' (768px 979px);

// Susy Settings.
$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters


body {
  background-color: #593001;
  color: #C29325;
}

#container {
  @include container;
}

header {
  line-height: $line-height * 3;
  font-size: $font-size * 3;
}

#main {
  .section {
    font-size: $font-size * 1.5;
    margin-bottom: 2em;
  }
}

footer {}

a {
  color: #B5520B;

  &:visited {
    color: #B5520B;
  }

  &:hover {
    color: #38240C;
  }
}
